@tailwind base;
@tailwind components;
@tailwind utilities;

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.font-inter {
font-family: 'Inter', sans-serif;

}

.font-montserrat {
font-family: 'Montserrat', sans-serif;
font-weight: 500;

}
.custom-shadow{
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.235), -2px -4px 0px #FFF, 1px 2px 2px 0px rgba(0, 0, 0, 0.215) inset;
}
.shadow-inset{
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.235), -2px -4px 0px #FFF, 1px 3px 4px 0px rgba(0, 0, 0, 0.156) inset;
}


.shadow-r{
  box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.106), -4px -4px 0px #fff
}

.shadow-b{
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.106)
  }

.content-shadow{
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.432)
}

.nav-shadow{
    box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.432)
}
